VITE_API_URL=https://api.vetllama.com
VITE_STRIPE_PUBLIC_KEY=pk_test_51TnIesDXXr4SYrTFvD4jF0A9v1beggTD04S3hPJTW194ImwFJbaEFNKWMCH2h5XJk4pjGmHmxFLWFJMxSXQFrvYw000Rtj3Fun
VITE_APP_URL=http://localhost:5173
VITE_DEV_HOST=asad123.vetllama.com
VITE_DEV_DOMAIN=asad123.vetllama.com
VITE_DEV_SUBDOMAIN=asad123
