<!-- Start Banner -->
<section class="banner-section-six section">
  <div class="container">
    <!-- start row -->
    <div class="row">
      <div class="col-lg-7">
        <div class="section-header section-header-six">
          <h1 class="section-title">
            Caring for Your
            <img src="assets/img/icons/banner-icon-4.png" alt="banner-icon" class="img-fluid img-one" />
            <br />
            Pets Made <br />
            <img src="assets/img/icons/banner-icon-5.png" alt="banner-icon" class="img-fluid img-one" />
            Simple
          </h1>
          <p>From prescriptions to vet advice and medicine delivery</p>
        </div>

        <!-- <button [routerLink]="''" class="theme-btn btn-md btn-primary">
          <i class="isax isax-category me-2"></i><span>View All Services</span>
        </button> -->

        <!-- <button [routerLink]="" class="theme-btn btn-primary">
          <span><i class="isax isax-category ml-2"></i>View All Services</span>
        </button> -->
      </div>
      <div class="col-lg-5">
        <div class="banner-img">
          <img src="assets/img/banner/banner-img-7.png" alt="banner-img" class="img-fluid img-one" />
          <img src="assets/img/bg/banner-img-1.png" alt="banner-img" class="img-fluid img-two" />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <img src="assets/img/icons/banner-icon-6.png" alt="banner-icon" class="img-fluid icon-one" />
  <img src="assets/img/icons/banner-icon-7.png" alt="banner-icon" class="img-fluid icon-two" />
</section>
<!-- End Banner -->

<!-- Start Aboutus -->
<section class="about-section-six section">
  <div class="container">
    <!-- start row -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-img-six">
          <img src="assets/img/about/about-03.webp" alt="about" class="img-fluid img-one" />
          <img src="assets/img/about/about-04.png" alt="about" class="img-fluid img-two" />
          <!-- <lightgallery [settings]="settings" [onInit]="onInit" size="1400-933">
            <a>
              <button class="animate-button">
                <p class="button-text"></p>
                <span class="button-circle">
                  <i class="isax isax-play"></i>
                </span>
              </button>
            </a>
          </lightgallery> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content-six">
          <div class="section-header section-header-six">
            <div class="section-sub-title ms-0">About Us</div>
            <h2 class="section-title">
              Trusted
              <span class="line-6">Pet Care</span> at Your Fingertips
            </h2>
            <p>
              We help pet parents give their furry friends the best care without
              the stress. Track health, order medicines, and consult vets
              easily, all through a safe, reliable platform built for pets and
              their parents.
            </p>
          </div>
          <div class="about d-flex align-items-center gap-4">
            <div class="about-vision" [class.active]="activeIndex === 1" (mouseenter)="setActive(1)">
              <h3 class="custom-title">Our Mission</h3>
              <p class="para">
                Our mission is to simplify the way pet parents care for their
                animals by providing a complete, trusted platform for medicines,
                veterinary consultations, and health tracking.
              </p>
              <img src="assets/img/icons/banner-icon-6.png" alt="banner-icon" class="img-fluid icon-one" />
            </div>
            <div class="about-vision" [class.active]="activeIndex === 2" (mouseenter)="setActive(2)">
              <h3 class="custom-title">Our Vision</h3>
              <p class="para">
                Our vision is to make pet healthcare simple, accessible, and
                reliable for every pet parent.
              </p>
              <img src="assets/img/icons/banner-icon-6.png" alt="banner-icon" class="img-fluid icon-one" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <img src="assets/img/about/about-img-2.png" alt="about-img" class="img-fluid element-1" />
  <img src="assets/img/icons/foot-prints-1.png" alt="about-img" class="img-fluid element-2" />
  <img src="assets/img/icons/about-icons-1.svg" alt="about-img" class="img-fluid element-3" />
</section>
<!-- End Aboutus -->

<!-- Start Service -->
<section class="services-section-six section">
  <div class="container">
    <div class="section-header-six section-white text-center">
      <div class="section-sub-title">Services</div>
      <h2 class="section-title">
        Our <span class="line-6">Compassionate</span> Services
      </h2>
    </div>

    <!-- start row -->
    <div class="row g-4">
      <!-- Item 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="services-item-six">
          <div class="services-icon">
            <img src="assets/img/icons/services-icon-1.png" alt="services" class="img-fluid icon-1" />
            <div class="shape-one"></div>
            <div class="shape-two"></div>
          </div>
          <div class="services-content">
            <h3 class="custom-title">Prescription Medicine Delivery</h3>
            <p class="description">
              Fast, safe, verified delivery straight to your door.
            </p>
          </div>
          <img src="assets/img/service/service-img-1.webp" alt="service-img" class="img-fluid overlay-img" />
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="services-item-six">
          <div class="services-icon">
            <img src="assets/img/icons/services-icon-2.png" alt="services" class="img-fluid icon-1" />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Online Vet Consultations</h3>
            <p class="description">Speak with licensed veterinarians</p>
          </div>
          <img src="assets/img/service/service-img-2.webp" alt="service-img" class="img-fluid overlay-img" />
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="services-item-six">
          <div class="services-icon">
            <img src="assets/img/icons/services-icon-3.png" alt="services" class="img-fluid icon-1" />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Health & Vaccination Tracking</h3>
            <p class="description">Keep all your pet’s records in one place.</p>
          </div>
          <img src="assets/img/service/service-img-3.webp" alt="service-img" class="img-fluid overlay-img" />
        </div>
      </div>

      <!-- Item 4 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="services-item-six">
          <div class="services-icon">
            <img src="assets/img/icons/services-icon-4.png" alt="services" class="img-fluid icon-1" />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Nutrition & Supplement</h3>
            <p class="description">Get vet-recommended diets and vitamins</p>
          </div>
          <img src="assets/img/service/service-img-4.webp" alt="service-img" class="img-fluid overlay-img" />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <img src="assets/img/icons/banner-icon-7.png" alt="banner-icon" class="img-fluid icon-one" />
</section>
<!-- End Service -->

<!-- Start Why -->
<section class="whychoose-section-six section">
  <div class="container">
    <!-- start row -->
    <div class="row">
      <div class="col-xl-6">
        <div class="section-header-six">
          <div class="section-sub-title ms-0">Benefits</div>
          <h2 class="section-title">
            Why Pet Parents <span class="line-6">Trust Us</span>
          </h2>
          <p>
            We combine trusted veterinary expertise with smart digital solutions
            to make pet care simple, reliable, and accessible for every pet
            parent.
          </p>
        </div>
        <!-- Item 1 -->
        <div class="choose-item-six">
          <div class="choose-item-count">
            <span>01</span>
          </div>
          <div class="choose-item-content">
            <h3 class="custom-title">Trusted Veterinary Support</h3>
            <p>
              Connect with licensed veterinarians anytime for reliable advice,
              accurate diagnoses, and professional care for your pets.
            </p>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="choose-item-six">
          <div class="choose-item-count">
            <span>02</span>
          </div>
          <div class="choose-item-content">
            <h3 class="custom-title">Fast & Safe Medicine Delivery</h3>
            <p>
              Get verified pet medicines delivered quickly to your doorstep,
              ensuring your pet never misses essential treatment.
            </p>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="choose-item-six">
          <div class="choose-item-count">
            <span>03</span>
          </div>
          <div class="choose-item-content">
            <h3 class="custom-title">All-in-One Pet Care Platform</h3>
            <p>
              From consultations to prescriptions and health tracking, manage
              everything your pet needs in one simple place.
            </p>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="choose-item-six mb-0">
          <div class="choose-item-count">
            <span>04</span>
          </div>
          <div class="choose-item-content">
            <h3 class="custom-title">Smart Health Tracking & Reminders</h3>
            <p>
              Easily track vaccinations, treatments, and get timely alerts so
              you never miss an important update in your pet’s care.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="whychoose-img">
          <img src="assets/img/about/choose-img-8.webp" alt="choose-img" class="img-fluid img-one" />
          <img src="assets/img/about/choose-img-9.webp" alt="choose-img" class="img-fluid img-two" />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <img src="assets/img/about/choose-img-10.png" alt="choose-img" class="img-fluid element-1" />
</section>
<!-- End Why -->

<!-- Start Testimonial -->
<!-- <section class="testimonial-section-six section">
  <div class="container">
    <div class="section-header-six text-center">
      <div class="section-sub-title">Testimonials</div>
      <h2 class="section-title">
        What <span class="line-6"> Pet Parents </span> Says Worldwide
      </h2>
    </div>


    <div class="row g-5">

      <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
        <div class="testimonial-item-six">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/img/patients/patient2.jpg" alt="patient1" class="img-fluid img-1" />
            </div>
            <div class="author">
              <h3 class="custom-title author-name">
                <a [routerLink]="">Gregg Lewis</a>
              </h3>
              <p class="author-location">San Diego, CA</p>
            </div>
          </div>
          <div class="testimonial-content">
            <p>
              Our cat, Milo, was nervous, but the vet handled him so gently.
              We’re so grateful for the kindness and expertise here.
            </p>
          </div>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>


      <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
        <div class="testimonial-item-six">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/img/patients/patient3.jpg" alt="patient1" class="img-fluid img-1" />
            </div>
            <div class="author">
              <h3 class="custom-title author-name">
                <a [routerLink]="">William Andre</a>
              </h3>
              <p class="author-location">New York</p>
            </div>
          </div>
          <div class="testimonial-content">
            <p>
              Our golden retriever, Max, had a severe ear infection, and the
              team here handled it with such care and patience.
            </p>
          </div>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>


      <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
        <div class="testimonial-item-six">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/img/patients/patient4.jpg" alt="patient1" class="img-fluid img-1" />
            </div>
            <div class="author">
              <h3 class="custom-title author-name">
                <a [routerLink]="">Teresa Martin</a>
              </h3>
              <p class="author-location">Austin</p>
            </div>
          </div>
          <div class="testimonial-content">
            <p>
              I’ve been bringing my pets here for over five years. Every visit
              feels personal, and I know my pets are in good hands.
            </p>
          </div>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>


      <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
        <div class="testimonial-item-six">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/img/patients/patient5.jpg" alt="patient1" class="img-fluid img-1" />
            </div>
            <div class="author">
              <h3 class="custom-title author-name">
                <a [routerLink]="">Leslie Nichols</a>
              </h3>
              <p class="author-location">San Francisco</p>
            </div>
          </div>
          <div class="testimonial-content">
            <p>
              You can tell they genuinely love animals. The staff takes time to
              explain each procedure and follow up after visits.
            </p>
          </div>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
        <div class="testimonial-item-six">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/img/patients/patient6.jpg" alt="patient1" class="img-fluid img-1" />
            </div>
            <div class="author">
              <h3 class="custom-title author-name">
                <a [routerLink]="">Leslie Nichols</a>
              </h3>
              <p class="author-location">San Francisco</p>
            </div>
          </div>
          <div class="testimonial-content">
            <p>
              You can tell they genuinely love animals. The staff takes time to
              explain each procedure and follow up after visits.
            </p>
          </div>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>


      <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
        <div class="testimonial-item-six">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/img/patients/patient7.jpg" alt="patient1" class="img-fluid img-1" />
            </div>
            <div class="author">
              <h3 class="custom-title author-name">
                <a [routerLink]="">William Stark</a>
              </h3>
              <p class="author-location">Seattle</p>
            </div>
          </div>
          <div class="testimonial-content">
            <p>
              The clinic is spotless and well-equipped. I feel confident knowing
              my pet is getting the best care available.
            </p>
          </div>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
    </div>

    <img src="assets/img/reviews/testimonial-img.png" alt="testimonial-img" class="img-fluid testimonial-img-1" />
  </div>
  <img src="assets/img/icons/foot-prints-2.png" alt="foot-prints" class="img-fluid element-1" />
  <img src="assets/img/icons/foot-prints-3.png" alt="foot-prints" class="img-fluid element-2" />
</section> -->
<!-- Start Testimonial -->

<!-- Start Faq -->
<section class="faq-section-six section">
  <div class="container">
    <div class="section-header-six text-center">
      <div class="section-sub-title">FAQ</div>
      <h2 class="section-title">
        Got Questions? <span class="line-6"> We’ve Got Answers </span>
      </h2>
    </div>

    <!-- start row -->
    <div class="row g-4">
      <div class="col-lg-5">
        <div class="faq-support">
          <img src="assets/img/icons/support-icon.svg" alt="choose-img" class="img-fluid element-1" />
          <h3 class="custom-title">
            We’re here to help with all your pet care concerns.
          </h3>
          <p class="description">
            Our team will respond quickly with the best advice for your furry
            friend.
          </p>
          <a [routerLink]="" class="btn btn-primary theme-5-btn"><span>Contact Us<i
                class="isax isax-arrow-right-3"></i></span></a>
        </div>
        <div class="faq-help">
          <!-- Item 1 -->
          <div class="about-popup-item border-0 pb-0 mb-0">
            <div class="support-item">
              <div class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                <i class="isax isax-call5"></i>
              </div>
              <div>
                <p class="title">General Inquiries</p>
                <h4 class="link"><a [routerLink]="">info@24vetsupport.com</a></h4>
              </div>
              <img src="assets/img/service/support-img-1.png" alt="support-img-1" class="img-fluid img-1" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="faq-info wow zoomIn" data-wow-duration="1s">
          <div class="accordion" id="faq-details-one">
            <!-- FAQ Item -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingOne">
                <a [routerLink]="" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Can I order medicines for any pet?
                </a>
              </h3>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faq-details-one">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Yes, dogs, cats, birds, and more.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingTwo">
                <a [routerLink]="" class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Is online consultation secure?
                </a>
              </h3>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faq-details-one">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Yes, private, professional vet advice online.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingThree">
                <a [routerLink]="" class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How fast is delivery?
                </a>
              </h3>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faq-details-one">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>
                      Medicines are delivered safely and promptly to your
                      location.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingFour">
                <a [routerLink]="" class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Can I track vaccinations?
                </a>
              </h3>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faq-details-one">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Yes, automatic reminders keep you on schedule.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingFive">
                <a [routerLink]="" class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Do I need a prescription?
                </a>
              </h3>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#faq-details-one">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>
                      Certain medicines require a vet’s prescription, which can
                      be uploaded or obtained via our platform.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</section>
<!-- End Faq -->

<!-- Start Slide -->
<div class="horizontal-slide slide-one slide-six d-flex" data-direction="left" data-speed="slow">
  <div class="slide-list d-flex gap-4">
    <div class="services-slide">
      <h3>Certified Medical Professionals</h3>
    </div>
    <div class="services-slide">
      <h3>Advanced Diagnostic Tools</h3>
    </div>
    <div class="services-slide">
      <h3>Online Appointment Booking</h3>
    </div>
    <div class="services-slide">
      <h3>Electronic Health Records</h3>
    </div>
  </div>
</div>
<!-- End Slide -->

<!-- Start Testimonial -->
<section class="article-section-six section">
  <div class="container">
    <div class="section-header-six text-center">
      <div class="section-sub-title">Latest Blogs</div>
      <h2 class="section-title">
        Pet Care <span class="line-6"> Tips & Advice </span>
      </h2>
    </div>

    <!-- start row -->
    <div class="row justify-content-center g-5">
      <!-- Item 1 -->
      <div class="col-xl-4 col-md-6">
        <div class="blog-item-six">
          <div class="blog-image">
            <a><img class="img-fluid" src="assets/img/blog/blog-img-1.webp" alt="Post Image" /></a>
            <!-- <div class="post-author">
              <a [routerLink]="routes.doctorProfile1"
                ><img
                  src="assets/img/patients/patient5.jpg"
                  alt="Post Author"
                />
                <span>Daniel Scott</span>
              </a>
            </div> -->
          </div>
          <div class="blog-content">
            <h3 class="custom-title line-clamp-2">
              <a>Top 5 Ways to Keep Your Dog Healthy</a>
            </h3>
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-xl-4 col-md-6">
        <div class="blog-item-six">
          <div class="blog-image">
            <a><img class="img-fluid" src="assets/img/blog/blog-img-2.webp" alt="Post Image" /></a>
            <!-- <div class="post-author">
              <a [routerLink]="routes.doctorProfile1"
                ><img
                  src="assets/img/patients/patient6.jpg"
                  alt="Post Author"
                />
                <span> Sofia Doe</span>
              </a>
            </div> -->
          </div>
          <div class="blog-content">
            <h3 class="custom-title line-clamp-2">
              <a>Vaccination Checklist for pet</a>
            </h3>
          </div>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-xl-4 col-md-6">
        <div class="blog-item-six">
          <div class="blog-image">
            <a><img class="img-fluid" src="assets/img/blog/blog-img-3.webp" alt="Post Image" /></a>
            <!-- <div class="post-author">
              <a [routerLink]="routes.doctorProfile1"
                ><img
                  src="assets/img/patients/patient7.jpg"
                  alt="Post Author"
                />
                <span>Lisa Labon</span>
              </a>
            </div> -->
          </div>
          <div class="blog-content">
            <h3 class="custom-title line-clamp-2">
              <a>Nutrition Tips for Puppies and Kittens</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</section>

<!-- Footer -->
<footer class="footer-six footer">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row g-4">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about d-flex justify-content-center align-items-center flex-column">
            <div class="footer-logo">
              <img src="assets/img/logo-33.png" width="200" alt="logo" />
            </div>
            <p class="description">
              We’re a trusted veterinary clinic dedicated to keeping<span class="d-block">
                your pets healthy and happy.</span>
            </p>
            <div class="footer-about-content">
              <ul class="social-icon">
                <li>
                  <a [routerLink]=""><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                  <a [routerLink]=""><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                  <a [routerLink]=""><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                  <a [routerLink]=""><i class="fa-brands fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
    <img src="assets/img/bg/footer-img-1.webp" alt="footer-img-1" class="img-fluid footer-img-1" />
    <img src="assets/img/icons/banner-icon-6.png" alt="banner-icon" class="img-fluid icon-one" />
    <img src="assets/img/icons/foot-prints-4.png" alt="banner-icon" class="img-fluid icon-two" />
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright">
        <div class="row justify-content-center g-4">
          <div class="col-lg-12 justify-content-center d-flex">
            <div class="copyright-text">
              <p class="mb-0">
                Copyright &copy; 2026 VETLLAMA. All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->