<!-- Banner Section Start -->
<section class="banner-section-twelve">
  <div class="container">
    <!-- start row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-left wow fadeInUp" data-wow-duration="1s">
          <div class="section-header section-header-nine">
            <div class="rating-appointment flex-wrap">
              <div class="avatar-list-stacked avatar-group-lg">
                <span class="avatar avatar-rounded">
                  <img src="assets/img/doctors/doctor-thumb-22.jpg" alt="img" />
                </span>
                <span class="avatar avatar-rounded">
                  <img src="assets/img/doctors/doctor-thumb-23.jpg" alt="img" />
                </span>
                <span class="avatar avatar-rounded">
                  <img src="assets/img/doctors/doctor-thumb-24.jpg" alt="img" />
                </span>
                <span class="avatar avatar-rounded">
                  <img src="assets/img/doctors/doctor-thumb-25.jpg" alt="img" />
                </span>
                <span
                  class="avatar avatar-rounded bg-primary d-inline-flex align-items-center justify-content-center"
                >
                  <i class="isax isax-add fs-24"></i>
                </span>
              </div>
              <div>
                <p class="avatar-ttile">
                  5698+ <span> Results has been delivered </span>
                </p>
              </div>
            </div>
            <h1 class="section-title mb-0 mb-2">
              Accurate Lab <br />
              Results Delivered <br /><span>to Your Doorstep</span>
            </h1>
            <p class="paragraph">
              Trusted, fast, and precise laboratory testing powered by advanced
              technology and qualified professionals around the world.
            </p>

            <div class="search-input">
              <i class="isax isax-search-normal search-icon"></i>
              <input
                type="text"
                placeholder="Type to search for any result"
                class="form-control"
              />
              <button class="btn btn-success">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-img-twelve wow fadeInUp" data-wow-duration="1s">
          <img
            src="assets/img/banner/banner-lab-img.png"
            alt="banner"
            class="img-fluid banner-lab-img"
          />
          <img
            src="assets/img/banner/banner-lab-2.png"
            alt="banner"
            class="img-fluid banner-lab-img-2"
          />
          <img
            src="assets/img/icons/banner-icon-10.png"
            alt="banner"
            class="img-fluid banner-icon-3"
          />
          <p class="badge one">Thyroid Tests</p>
          <p class="badge two">Diabetes Tests</p>
          <p class="badge three">Infection Tests</p>
          <p class="badge four">Blood Tests</p>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <img
    src="assets/img/bg/banner-shadow-1.png"
    alt="shadow"
    class="img-fluid shadow-img"
  />
  <img
    src="assets/img/bg/banner-lab-shdaow-1.png"
    alt="shadow"
    class="img-fluid shadow-img1"
  />
  <img
    src="assets/img/bg/banner-lab-shadow.png"
    alt="shadow"
    class="img-fluid shadow-img2"
  />
  <img
    src="assets/img/icons/banner-icon-3.svg"
    alt="shadow"
    class="img-fluid shadow-img3"
  />
</section>
<!-- Banner Section End -->

<!-- Plans Section Start -->
<section class="plans-section-twelve section">
  <div class="container">
    <!-- strat header-->
    <div
      class="section-header section-header-twelve text-center wow fadeInUp"
      data-wow-duration="1s"
    >
      <h2 class="section-title">
        Popular <span class="text-primary">Test Plans</span> for Your Needs
      </h2>
      <p class="description">
        Discover our most trusted & essential test packages to meet every
        individual’s needs.
      </p>
    </div>

    <!-- start row -->
    <div class="row g-4">
      <!-- Item 1 -->
      <div class="col-lg-4">
        <div class="plan-item-twelve wow fadeInUp" data-wow-duration="1s">
          <div class="plan-content">
            <h3 class="custom-title">Reliable Reports</h3>
            <p class="description">
              Accurate Diagnostics at your hospital grade fingertips.
            </p>
            <div class="view-all">
              <a [routerLink]="" class="btn btn-white"
                >View All<i class="isax isax-arrow-right-1"></i
              ></a>
            </div>
          </div>
          <img
            src="assets/img/icons/plan-icon-1.svg"
            alt="icon"
            class="img-fluid icon-1"
          />
          <img
            src="assets/img/doctor-grid/plan-img-1.png"
            alt="icon"
            class="img-fluid plan-img-1"
          />
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-lg-4">
        <div class="plan-item-twelve two wow fadeInUp" data-wow-duration="2s">
          <div class="plan-content">
            <h3 class="custom-title">Lab Packages</h3>
            <p class="description">
              Affordable packages carefully designed by experts.
            </p>
            <div class="view-all">
              <a [routerLink]="" class="btn btn-white"
                >View Packages<i class="isax isax-arrow-right-1"></i
              ></a>
            </div>
          </div>
          <img
            src="assets/img/icons/plan-icon-2.svg"
            alt="icon"
            class="img-fluid icon-1"
          />
          <img
            src="assets/img/doctor-grid/plan-img-2.png"
            alt="icon"
            class="img-fluid plan-img-1"
          />
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-lg-4">
        <div class="plan-item-twelve three wow fadeInUp" data-wow-duration="3s">
          <div class="plan-content">
            <h3 class="custom-title">Expert Lab Services</h3>
            <p class="description">
              Advanced skilled technicians ensure precise outcomes.
            </p>
            <div class="view-all">
              <a [routerLink]="" class="btn btn-white"
                >View Services<i class="isax isax-arrow-right-1"></i
              ></a>
            </div>
          </div>
          <img
            src="assets/img/icons/plan-icon-3.svg"
            alt="icon"
            class="img-fluid icon-1"
          />
          <img
            src="assets/img/doctor-grid/plan-img-3.png"
            alt="icon"
            class="img-fluid plan-img-1"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="icon-2"></div>
  <div class="icon-3"></div>
</section>
<!-- Plans Section End -->

<!-- Services Section Start -->
<section class="services-section-twelve section pt-0">
  <div class="container">
    <!-- strat header-->
    <div
      class="section-header section-header-twelve mb-0 wow fadeInUp"
      data-wow-duration="1s"
    >
      <div>
        <h2 class="section-title">
          Our <span class="text-primary">Lab Test </span>Services
        </h2>
        <p class="description">
          We offer a wide range of reliable and accurate diagnostic tests to
          support your health at every stage.
        </p>
      </div>
      <a [routerLink]="" class="btn btn-primary theme-11-btn">
        <span class="icon one"><i class="isax isax-arrow-right-1"></i> </span>
        <span class="content">All Services</span>
        <span class="icon two"><i class="isax isax-arrow-right-1"></i> </span>
      </a>
    </div>
  </div>

  <div class="services-twelve-slider">
    <owl-carousel-o
      [options]="servicesTwelveSliderOption"
      class="services-twelve-slider"
    >
      <ng-template carouselSlide>
        <!-- Slide Item 1 -->
        <div class="slide-item">
          <div class="services-item-twelve">
            <div class="services-title">
              <h3 class="custom-title">Blood Tests</h3>
              <a [routerLink]="" class="btn btn-primary btn-icon"
                ><i class="isax isax-arrow-right-1"></i
              ></a>
            </div>
            <div class="services-content">
              <p class="description">
                Comprehensive blood investigations including CBC, lipid profile,
                liver
              </p>
              <div class="tags">
                <span class="badge-icon">CBC</span>
                <span class="badge-icon">Lipid Profile</span>
                <span class="badge-icon">LFT</span>
              </div>
            </div>
            <div class="services-footer">
              <div class="icon">
                <img
                  src="assets/img/icons/services-twelve-one.svg"
                  alt="icon"
                  class="img-fluid icon-1"
                />
              </div>
              <div class="price">
                <span>Starts From</span>
                <h4 class="amount">$90.00</h4>
              </div>
            </div>
            <div class="services-img">
              <img
                src="assets/img/service/services-img-six.jpg"
                alt="img"
                class="img-fluid img-1"
              />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Slide Item 2 -->
        <div class="slide-item">
          <div class="services-item-twelve">
            <div class="services-title">
              <h3 class="custom-title">Urine Tests</h3>
              <a [routerLink]="" class="btn btn-primary btn-icon"
                ><i class="isax isax-arrow-right-1"></i
              ></a>
            </div>
            <div class="services-content">
              <p class="description">
                Analysis of urinalysis and urine culture
              </p>
              <div class="tags">
                <span class="badge-icon">Urinalysis</span>
                <span class="badge-icon">Urine Culture</span>
              </div>
            </div>
            <div class="services-footer">
              <div class="icon">
                <img
                  src="assets/img/icons/services-twelve-two.svg"
                  alt="icon"
                  class="img-fluid icon-1"
                />
              </div>
              <div class="price">
                <span>Starts From</span>
                <h4 class="amount">$50.00</h4>
              </div>
            </div>
            <div class="services-img">
              <img
                src="assets/img/service/services-img-six.jpg"
                alt="img"
                class="img-fluid img-1"
              />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Slide Item 3 -->
        <div class="slide-item">
          <div class="services-item-twelve">
            <div class="services-title">
              <h3 class="custom-title">Imaging Studies</h3>
              <a [routerLink]="" class="btn btn-primary btn-icon"
                ><i class="isax isax-arrow-right-1"></i
              ></a>
            </div>
            <div class="services-content">
              <p class="description">
                Diagnostic imaging such as X-rays and MRIs
              </p>
              <div class="tags">
                <span class="badge-icon">X-ray</span>
                <span class="badge-icon">MRI</span>
                <span class="badge-icon">CT Scan</span>
              </div>
            </div>
            <div class="services-footer">
              <div class="icon">
                <img
                  src="assets/img/icons/services-twelve-three.svg"
                  alt="icon"
                  class="img-fluid icon-1"
                />
              </div>
              <div class="price">
                <span>Starts From</span>
                <h4 class="amount">$90.00</h4>
              </div>
            </div>
            <div class="services-img">
              <img
                src="assets/img/service/services-img-six.jpg"
                alt="img"
                class="img-fluid img-1"
              />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Slide Item 4 -->
        <div class="slide-item">
          <div class="services-item-twelve">
            <div class="services-info">
              <div class="services-title">
                <h3 class="custom-title">Cardiac Tests</h3>
                <a [routerLink]="" class="btn btn-primary btn-icon"
                  ><i class="isax isax-arrow-right-1"></i
                ></a>
              </div>
              <div class="services-content">
                <p class="description">
                  Heart health assessments including ECG and echocardiogram
                </p>
                <div class="tags">
                  <span class="badge-icon">ECG</span>
                  <span class="badge-icon">Echocardiogram</span>
                </div>
              </div>
            </div>
            <div class="services-footer">
              <div class="icon">
                <img
                  src="assets/img/icons/services-twelve-four.svg"
                  alt="icon"
                  class="img-fluid icon-1"
                />
              </div>
              <div class="price">
                <span>Starts From</span>
                <h4 class="amount">$80.00</h4>
              </div>
            </div>
            <div class="services-img">
              <img
                src="assets/img/service/services-img-six.jpg"
                alt="img"
                class="img-fluid img-1"
              />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Slide Item 5 -->
        <div class="slide-item">
          <div class="services-item-twelve">
            <div class="services-info">
              <div class="services-title">
                <h3 class="custom-title">Urine Tests</h3>
                <a [routerLink]="" class="btn btn-primary btn-icon"
                  ><i class="isax isax-arrow-right-1"></i
                ></a>
              </div>
              <div class="services-content">
                <p class="description">
                  Analysis of urinalysis and urine culture
                </p>
                <div class="tags">
                  <span class="badge-icon">Urinalysis</span>
                  <span class="badge-icon">Urine Culture</span>
                </div>
              </div>
            </div>
            <div class="services-footer">
              <div class="icon">
                <img
                  src="assets/img/icons/services-twelve-five.svg"
                  alt="icon"
                  class="img-fluid icon-1"
                />
              </div>
              <div class="price">
                <span>Starts From</span>
                <h4 class="amount">$40.00</h4>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Slide Item 6 -->
        <div class="slide-item">
          <div class="services-item-twelve">
            <div class="services-info">
              <div class="services-title">
                <h3 class="custom-title">Allergy Tests</h3>
                <a [routerLink]="" class="btn btn-primary btn-icon"
                  ><i class="isax isax-arrow-right-1"></i
                ></a>
              </div>
              <div class="services-content">
                <p class="description">
                  Identifying allergic reactions through skin or blood tests
                </p>
                <div class="tags">
                  <span class="badge-icon">Skin Prick Test</span>
                  <span class="badge-icon">Skin Prick Test</span>
                </div>
              </div>
            </div>
            <div class="services-footer">
              <div class="icon">
                <img
                  src="assets/img/icons/services-twelve-two.svg"
                  alt="icon"
                  class="img-fluid icon-1"
                />
              </div>
              <div class="price">
                <span>Starts From</span>
                <h4 class="amount">$60.00</h4>
              </div>
            </div>
            <div class="services-img">
              <img
                src="assets/img/service/services-img-six.jpg"
                alt="img"
                class="img-fluid img-1"
              />
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="view-more">
    Consult top doctors online for any health concern
    <a [routerLink]="" class="link">Connect within 60secs</a>
  </div>
</section>
<!-- Services Section Start -->

<!-- Works Section Start -->
<section class="works-section-twelve section">
  <div class="container">
    <!-- strat header-->
    <div
      class="section-header section-header-twelve text-center wow fadeInUp"
      data-wow-duration="1s"
    >
      <h2 class="section-title">
        How <span class="text-primary">Booking Process</span> Works
      </h2>
      <p class="description">
        Discover our most trusted & essential test packages to meet every
        individual’s needs.
      </p>
    </div>

    <!-- start row -->
    <div class="row">
      <!-- Item 1 -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="works-item-twelve wow fadeInUp" data-wow-duration="1s">
          <div class="booking-icon">
            <img
              src="assets/img/icons/work-icon-1.svg"
              alt="service"
              class="img-fluid img-1"
            />
          </div>
          <div class="services-content">
            <p class="badge-icon">Step 1</p>
            <h3 class="custom-title">Book Your Test</h3>
            <p class="description">
              Schedule your test online and choose from a wide range of reliable
              diagnostic services.
            </p>
          </div>
        </div>
      </div>

      <!-- Item 1 -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="works-item-twelve wow fadeInUp" data-wow-duration="2s">
          <div class="booking-icon">
            <img
              src="assets/img/icons/work-icon-2.svg"
              alt="service"
              class="img-fluid img-1"
            />
          </div>
          <div class="services-content">
            <p class="badge-icon">Step 2</p>
            <h3 class="custom-title">Sample Collection</h3>
            <p class="description">
              Our phlebotomists collect your samples comfortably, following
              quality protocols..
            </p>
          </div>
        </div>
      </div>

      <!-- Item 1 -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="works-item-twelve wow fadeInUp" data-wow-duration="3s">
          <div class="booking-icon">
            <img
              src="assets/img/icons/work-icon-3.svg"
              alt="service"
              class="img-fluid img-1"
            />
          </div>
          <div class="services-content">
            <p class="badge-icon">Step 3</p>
            <h3 class="custom-title">Laboratory Analysis</h3>
            <p class="description">
              Your samples are analyzed advanced systems & by certified experts
              for accuracy.
            </p>
          </div>
        </div>
      </div>

      <!-- Item 1 -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="works-item-twelve wow fadeInUp" data-wow-duration="4s">
          <div class="booking-icon">
            <img
              src="assets/img/icons/work-icon-4.svg"
              alt="service"
              class="img-fluid img-1"
            />
          </div>
          <div class="services-content">
            <p class="badge-icon">Step 4</p>
            <h3 class="custom-title">Receive Results</h3>
            <p class="description">
              Receive your reports via email, SMS, or our expert guidance
              available whenever you need
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="icon-2"></div>
  <div class="icon-3"></div>
  <img
    src="assets/img/icons/works-img.png"
    alt="service"
    class="img-fluid works-img"
  />
</section>
<!-- Works Section Start -->

<!-- Slider Section Start -->
<section
  class="slider-section slider-section-twelve wow fadeInUp"
  data-wow-duration="1s"
>
  <div
    class="horizontal-slide slide-one slide-twelve bg-primary d-flex"
    data-direction="left"
    data-speed="slow"
  >
    <div class="slide-list d-flex gap-4">
      <div class="services-slide">
        <h3>Oxygen therapy</h3>
      </div>
      <div class="services-slide">
        <h3>ECG & diagnostic coordination</h3>
      </div>
      <div class="services-slide">
        <h3>Antibiotic therapy support</h3>
      </div>
      <div class="services-slide">
        <h3>Medication administration</h3>
      </div>
      <div class="services-slide">
        <h3>IV fluids & injections</h3>
      </div>
    </div>
  </div>
  <div
    class="horizontal-slide slide-two slide-twelve two d-flex"
    data-direction="right"
    data-speed="slow"
  >
    <div class="slide-list d-flex gap-4">
      <div class="services-slide">
        <h3>Recovery after surgery</h3>
      </div>
      <div class="services-slide">
        <h3>Physiotherapy coordination</h3>
      </div>
      <div class="services-slide">
        <h3>Monitoring during bed rest</h3>
      </div>
      <div class="services-slide">
        <h3>Stroke rehabilitation support</h3>
      </div>
    </div>
  </div>
</section>
<!-- Slider Section End -->

<!-- Categories Section Start -->
<section class="categories-section-twelve section">
  <div class="container">
    <!-- strat header-->
    <div class="section-header section-header-twelve text-center">
      <h2 class="section-title">
        How <span class="text-primary">Popular Test </span>Categories
      </h2>
      <p class="description">
        A curated list of essential lab tests that provide quick insights into
        your overall health and wellness.
      </p>
    </div>

    <!-- start row -->
    <div class="row g-4">
      <!-- Item 1 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="categories-item-twelve wow fadeInUp" data-wow-duration="1s">
          <h3 class="custom-title">Blood Tests</h3>
          <a [routerLink]="" class="text-primary text-decoration-underline"
            >Book Now</a
          >
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="categories-item-twelve two wow fadeInUp"
          data-wow-duration="1s"
        >
          <h3 class="custom-title">Thyroid Profile</h3>
          <p class="mb-0">TSH, T3, T4</p>
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="categories-item-twelve three wow fadeInUp"
          data-wow-duration="1s"
        >
          <h3 class="custom-title">Lipid Profile</h3>
          <p class="mb-0">Heart health indicators</p>
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>

      <!-- Item 4 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="categories-item-twelve four wow fadeInUp"
          data-wow-duration="1s"
        >
          <h3 class="custom-title">Diabetes Panel</h3>
          <p class="mb-0">HbA1c, Fasting Blood Sugar</p>
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>

      <!-- Item 5 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="categories-item-twelve five wow fadeInUp"
          data-wow-duration="1s"
        >
          <h3 class="custom-title">Kidney Test</h3>
          <p class="mb-0">Urea, Creatinine</p>
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>

      <!-- Item 6 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="categories-item-twelve six wow fadeInUp"
          data-wow-duration="1s"
        >
          <h3 class="custom-title">Liver Test</h3>
          <p class="mb-0">SGPT, SGOT, Bilirubin</p>
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>

      <!-- Item 7 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="categories-item-twelve seven wow fadeInUp"
          data-wow-duration="1s"
        >
          <h3 class="custom-title">Vitamin Tests</h3>
          <p class="mb-0">Vitamin D, B12</p>
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>

      <!-- Item 8 -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="categories-item-twelve eight wow fadeInUp"
          data-wow-duration="1s"
        >
          <h3 class="custom-title">Infection Tests</h3>
          <p class="mb-0">Dengue, Malaria, Typhoid</p>
          <img
            src="assets/img/icons/category-one.svg"
            alt="category"
            class="img-fluid category-img-1"
          />
        </div>
      </div>
    </div>

    <!-- end row -->
  </div>
  <div class="icon-3"></div>
</section>
<!-- Categories Section End -->

<!-- About Section Start -->
<section class="about-section-twelve section">
  <div class="container">
    <!-- strat row -->
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-12">
        <div
          class="about-img-twelve d-flex wow fadeInUp"
          data-wow-duration="1s"
        >
          <img
            src="assets/img/about/about-img-one.jpg"
            alt="about-img"
            class="img-fluid img-one"
          />
          <img
            src="assets/img/about/about-img-two.jpg"
            alt="about-img"
            class="img-fluid img-two"
          />
          <lightgallery [settings]="settings" [onInit]="onInit" size="1400-933">
            <a
              src="https://youtu.be/MyQxnFgPgQU?si=Z9y2WdynImbFnqL2"
              data-fancybox=""
            >
              <button
                class="animate-button"
                data-text="Play Video&nbsp;Play Video&nbsp;"
              >
                <p class="button-text"></p>
                <span class="button-circle">
                  <i class="isax isax-play"></i>
                </span>
              </button>
            </a>
          </lightgallery>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div class="about-content-tweleve wow fadeInUp" data-wow-duration="1s">
          <div class="section-header section-header-twelve">
            <h2 class="section-title">
              We Bring Healthcare Closer to you with
              <span class="text-primary">Professionalism & Care.</span>
            </h2>
          </div>

          <!-- start row -->
          <div class="row g-4">
            <div class="col-lg-6 col-sm-6 d-flex">
              <div class="about-item-twelve flex-fill">
                <div class="about-icon">
                  <img
                    src="assets/img/icons/about-twelve-1.svg"
                    alt="icon"
                    class="img-fluid img-one"
                  />
                </div>
                <h3 class="custom-title">Quick Reporting</h3>
                <p class="mb-0">
                  We follow strict ISO certified protocols to ensure safe.
                </p>
                <img
                  src="assets/img/icons/about-twelve-5.png"
                  alt="about-img"
                  class="img-fluid img-two"
                />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 d-flex">
              <div class="about-item-twelve flex-fill">
                <div class="about-icon">
                  <img
                    src="assets/img/icons/about-twelve-2.svg"
                    alt="icon"
                    class="img-fluid img-one"
                  />
                </div>
                <h3 class="custom-title">Affordable Pricing</h3>
                <p class="mb-0">
                  We offer transparent pricing with no hidden charges, ensuring
                  complete
                </p>
                <img
                  src="assets/img/icons/about-twelve-5.png"
                  alt="about-img"
                  class="img-fluid img-two"
                />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 d-flex">
              <div class="about-item-twelve flex-fill">
                <div class="about-icon">
                  <img
                    src="assets/img/icons/about-twelve-3.svg"
                    alt="icon"
                    class="img-fluid img-one"
                  />
                </div>
                <h3 class="custom-title">Advanced Technology</h3>
                <p class="mb-0">
                  Get fast, accurate reports delivered digitally, ensuring
                  timely insights
                </p>
                <img
                  src="assets/img/icons/about-twelve-5.png"
                  alt="about-img"
                  class="img-fluid img-two"
                />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 d-flex">
              <div class="about-item-twelve flex-fill">
                <div class="about-icon">
                  <img
                    src="assets/img/icons/about-twelve-4.svg"
                    alt="icon"
                    class="img-fluid img-one"
                  />
                </div>
                <h3 class="custom-title">Home Collection</h3>
                <p class="mb-0">
                  Our trained professionals collect samples from your home.
                </p>
                <img
                  src="assets/img/icons/about-twelve-5.png"
                  alt="about-img"
                  class="img-fluid img-two"
                />
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
    <!-- strat row -->
  </div>
  <img
    src="assets/img/bg/about-shadow-img.png"
    alt="shadow"
    class="img-fluid about-shadow-img"
  />
</section>
<!-- About Section End -->

<!-- Teams Section Start -->
<section class="team-section-twelve section pt-0">
  <div class="container">
    <div
      class="section-header section-header-twelve text-center wow fadeInUp"
      data-wow-duration="1s"
    >
      <h2 class="section-title">
        Meet Our <span class="text-primary">Experts Team</span>
      </h2>
      <p class="description">
        Get to know the skilled professionals who bring experience, dedication,
        and compassionate care.
      </p>
    </div>
  </div>
  <div class="team-slider-nine team-slider-twelve">
    <owl-carousel-o [options]="teamSliderOption" class="team-slider-nine">
      <ng-template carouselSlide>
        <!-- Item 1 -->
        <div class="slide-item">
          <div class="team-item-twelve">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-lab-1.png"
                alt="team"
                class="img-fluid img-one"
              />
            </div>
            <div class="team-content">
              <h3 class="custom-title">
                <a [routerLink]="">Diana Williams</a>
              </h3>
              <p class="team-name">Venipuncturist</p>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Item 2 -->
        <div class="slide-item">
          <div class="team-item-twelve">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-lab-2.png"
                alt="team"
                class="img-fluid img-one"
              />
            </div>
            <div class="team-content">
              <h3 class="custom-title">
                <a [routerLink]="">Andrew Iniesta</a>
              </h3>
              <p class="team-name">Venipuncturist</p>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Item 3 -->
        <div class="slide-item">
          <div class="team-item-twelve">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-lab-3.png"
                alt="team"
                class="img-fluid img-one"
              />
            </div>
            <div class="team-content">
              <h3 class="custom-title">
                <a [routerLink]="">George Pearson</a>
              </h3>
              <p class="team-name">Phlebotomist</p>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Item 4 -->
        <div class="slide-item">
          <div class="team-item-twelve">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-lab-4.png"
                alt="team"
                class="img-fluid img-one"
              />
            </div>
            <div class="team-content">
              <h3 class="custom-title">
                <a [routerLink]="">Jannie Morales</a>
              </h3>
              <p class="team-name">Microbiologist</p>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Item 5 -->
        <div class="slide-item">
          <div class="team-item-twelve">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-lab-5.png"
                alt="team"
                class="img-fluid img-one"
              />
            </div>
            <div class="team-content">
              <h3 class="custom-title"><a [routerLink]="">Paul Miller</a></h3>
              <p class="team-name">Technician</p>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <!-- Item 6 -->
        <div class="slide-item">
          <div class="team-item-twelve">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-lab-3.png"
                alt="team"
                class="img-fluid img-one"
              />
            </div>
            <div class="team-content">
              <h3 class="custom-title"><a [routerLink]="">Mark Bowman</a></h3>
              <p class="team-name">Technician</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <img
    src="assets/img/icons/works-img.png"
    alt="icon"
    class="img-fluid team-icon-1"
  />
</section>
<!-- Teams Section End -->

<!-- Test Section Start -->
<section class="test-section-twelve section bg-primary">
  <div class="container">
    <div
      class="section-header section-header-twelve text-center wow fadeInUp"
      data-wow-duration="1s"
    >
      <h2 class="section-title text-white">Have Questions About Your Test?</h2>
      <p class="description text-white">
        Get to know the skilled professionals who bring experience, dedication,
        and compassionate care.
      </p>
    </div>

    <div class="support-container">
      <div class="support-item-list">
        <div class="support-item-icon">
          <i class="isax isax-call"></i>
        </div>
        <div class="support-item-content">
          <a href="callto:" class="link">+1 24565 89856</a>
        </div>
      </div>
      <a [routerLink]="" class="btn btn-primary theme-11-btn">
        <span class="icon one"><i class="isax isax-arrow-right-1"></i> </span>
        <span class="content">Book Test Now</span>
        <span class="icon two"><i class="isax isax-arrow-right-1"></i> </span>
      </a>
    </div>
  </div>
  <img
    src="assets/img/bg/test-img-shape.png"
    alt="shape"
    class="img-fluid test-shape-img"
  />
  <img
    src="assets/img/bg/test-img-shape.png"
    alt="shape"
    class="img-fluid test-shape-img-2"
  />
</section>
<!-- Test Section Start -->

<!-- Testimonials Section Start -->
<section class="testimonial-section-twelve section">
  <div class="container">
    <div
      class="section-header section-header-twelve text-center wow fadeInUp"
      data-wow-duration="1s"
    >
      <h2 class="section-title">
        Hear From Our <span class="text-primary">Happy Clients</span>
      </h2>
      <p class="description">
        Discover our most trusted & essential test packages to meet every
        individual’s needs.
      </p>
    </div>
  </div>
  <div class="testimonials-slider-twelve slick-initialized slick-slider">
    <div class="slick-list draggable">
      <div class="slick-track">
        <owl-carousel-o
          #owl
          [options]="testimonialsSliderOption"
          class="testimonials-slider-twelve"
        >
          <ng-template carouselSlide>
            <!-- Item 1  -->
            <div class="slide-item">
              <div class="testimonial-item-twelve">
                <div class="testimonial-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="description">
                  I’ve used several labs before, but this one stands out for its
                  efficiency. The technicians were skilled, and the pricing was
                  transparent. I trust them for all my routine health checkups.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-author-name">
                    <h3 class="author-name"><a [routerLink]="">John Doe</a></h3>
                    <p class="author-location mb-0">Seattle, Washington</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <!-- Item 2  -->
            <div class="slide-item">
              <div class="testimonial-item-twelve">
                <div class="testimonial-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="description">
                  My daughter used to be scared of doctor visits, but Dr. Emily
                  made her feel completely at ease. She takes the time to
                  explain everything to parents & gives practical advice.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-author-name">
                    <h3 class="author-name">
                      <a [routerLink]="">Kevin Anderson</a>
                    </h3>
                    <p class="author-location">Seattle, Washington</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <!-- Item 3  -->
            <div class="slide-item">
              <div class="testimonial-item-twelve">
                <div class="testimonial-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="description">
                  Every visit feels personal — the doctors remember our child’s
                  history and genuinely care. The online booking remainder
                  system make it so convenient for busy parents like us.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-author-name">
                    <h3 class="author-name">
                      <a [routerLink]="">Jessica Miller</a>
                    </h3>
                    <p class="author-location">Chicago, IL</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <!-- Item 4  -->
            <div class="slide-item">
              <div class="testimonial-item-twelve">
                <div class="testimonial-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="description">
                  We struggled for months with my son’s breathing issues until
                  we met Dr. Williams. She identified the problem right away and
                  set up a treatment plan that’s worked beautifully.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-author-name">
                    <h3 class="author-name">
                      <a [routerLink]="">Maria Lopez</a>
                    </h3>
                    <p class="author-location">Austin, TX</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div
      class="slider-nav nav-center d-flex justify-content-center"
      id="small-img"
    >
      <div class="slick-list">
        <div class="slick-track">
          <div
            class="slick-slide slick-active"
            *ngFor="let img of images; let i = index"
            [class.active]="activeSlider === i"
            [ngClass]="activeSlider === i ? 'slick-center slick-current' : ''"
            (click)="toggleSlider(i)"
            (click)="goNext()"
          >
            <div class="author-img">
              <img [src]="img" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/img/icons/testimonial-icon-1.svg"
    alt="icon"
    class="img-fluid testimonial-icon-1"
  />
  <img
    src="assets/img/icons/testimonial-icon-1.svg"
    alt="icon"
    class="img-fluid testimonial-icon-2"
  />
  <img
    src="assets/img/bg/testimonial-bg-12.png"
    alt="icon"
    class="img-fluid testimonial-icon-3"
  />
</section>
<!-- Testimonials Section Edn -->

<!-- Blogs Section Start -->
<section class="blog-section-twelve section">
  <div class="container">
    <div
      class="section-header section-header-twelve text-center wow fadeInUp"
      data-wow-duration="1s"
    >
      <h2 class="section-title">
        Latest From Our <span class="text-primary">Health Blogs</span>
      </h2>
      <p class="description">
        Discover our most trusted & essential test packages to meet every
        individual’s needs.
      </p>
    </div>

    <!-- start row -->
    <div class="row g-4">
      <!-- Item 1-->
      <div class="col-xl-6 col-lg-12">
        <div class="blog-item-twelve wow fadeInUp" data-wow-duration="1s">
          <div class="blog-img">
            <img
              src="assets/img/blog/blog-lab-1.jpg"
              alt="blog"
              class="img-fluid img-one"
            />
            <div class="blog-date">17 <span>Nov </span></div>
          </div>
          <div class="blog-details">
            <div class="blog-content">
              <h3 class="custom-title">
                <a [routerLink]="routes.blogDetails"
                  >The Importance of Blood Tests in Preventive Care</a
                >
              </h3>
              <p class="description">
                Discover how routine blood tests can uncover potential health
                risks before...
              </p>
            </div>
            <div class="blog-footer">
              <span class="badge">Diagnostics</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 2-->
      <div class="col-xl-6 col-lg-12">
        <div class="blog-item-twelve wow fadeInUp" data-wow-duration="2s">
          <div class="blog-img">
            <img
              src="assets/img/blog/blog-lab-2.jpg"
              alt="blog"
              class="img-fluid img-one"
            />
            <div class="blog-date">24 <span>Nov </span></div>
          </div>
          <div class="blog-details">
            <div class="blog-content">
              <h3 class="custom-title">
                <a [routerLink]="routes.blogDetails"
                  >Understanding Your Lab Results: A Guide</a
                >
              </h3>
              <p class="description">
                Learn how to interpret lab results and discuss them effectively
                with your...
              </p>
            </div>
            <div class="blog-footer">
              <span class="badge">Education</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 3-->
      <div class="col-xl-6 col-lg-12">
        <div class="blog-item-twelve wow fadeInUp" data-wow-duration="3s">
          <div class="blog-img">
            <img
              src="assets/img/blog/blog-lab-3.jpg"
              alt="blog"
              class="img-fluid img-one"
            />
            <div class="blog-date">01 <span>Dec </span></div>
          </div>
          <div class="blog-details">
            <div class="blog-content">
              <h3 class="custom-title">
                <a [routerLink]="routes.blogDetails"
                  >Advancements in Genetic Testing: What You Need.</a
                >
              </h3>
              <p class="description">
                Explore the latest innovations in genetic testing and their
                impact on...
              </p>
            </div>
            <div class="blog-footer">
              <span class="badge">Genetics</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 4-->
      <div class="col-xl-6 col-lg-12">
        <div class="blog-item-twelve wow fadeInUp" data-wow-duration="4s">
          <div class="blog-img">
            <img
              src="assets/img/blog/blog-lab-4.jpg"
              alt="blog"
              class="img-fluid img-one"
            />
            <div class="blog-date">05 <span>Dec </span></div>
          </div>
          <div class="blog-details">
            <div class="blog-content">
              <h3 class="custom-title">
                <a [routerLink]="routes.blogDetails"
                  >How Lab Technology is Revolutionizing Care</a
                >
              </h3>
              <p class="description">
                Examine the role of advanced lab technologies in enhancing
                patient...
              </p>
            </div>
            <div class="blog-footer">
              <span class="badge">Technology</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</section>
<!-- Blogs Section End -->

<!-- Footer Section Start -->
<footer class="footer-twelve">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <!-- Start row -->
      <div class="row g-4">
        <div class="col-xl-5 col-lg-4 col-md-12">
          <div class="footer-widget footer-about">
            <p class="paragraph">
              Supporting you to keep your child healthy with easy access to
              high-quality paediatric care.
            </p>
            <div class="footer-logo">
              <h2 class="text-gradient">Doccure</h2>
            </div>
            <ul class="social-icon">
              <li>
                <a [routerLink]=""><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a [routerLink]=""><i class="fa-brands fa-x-twitter"></i></a>
              </li>
              <li>
                <a [routerLink]=""><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a [routerLink]=""><i class="fa-brands fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer-support">
            <h4 class="footer-title">Services</h4>
            <div class="support-item">
              <div class="suppor-icon">
                <i class="isax isax-call"></i>
              </div>
              <a href="callto:">+1 24565 89856</a>
            </div>
            <div class="support-item">
              <div class="suppor-icon">
                <i class="isax isax-sms"></i>
              </div>
              <a href="mailto:">contact@example.com</a>
            </div>
            <div class="support-item mb-0">
              <div class="suppor-icon">
                <i class="isax isax-location"></i>
              </div>
              <p class="text-truncate">
                183 Marina Avenue, Miami, Florida State, USA
              </p>
            </div>
            <img
              src="assets/img/bg/footer-shape-img.png"
              alt="shape"
              class="img-fluid footer-shape-img"
            />
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-support">
            <h4 class="footer-title">Subscribe to get new updates</h4>
            <div class="footer-subscribe">
              <div class="subscribe-input">
                <form action="#">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter Email Address"
                  />
                  <button type="submit" class="btn-icon btn btn-secondary">
                    <i class="isax isax-arrow-right-1"></i>
                  </button>
                </form>
              </div>
            </div>
            <h5 class="sub-title">Join our Community</h5>
            <p>
              Get the latest news, offers, and insights delivered straight to
              your inbox.
            </p>
            <img
              src="assets/img/bg/footer-shape-img.png"
              alt="shape"
              class="img-fluid footer-shape-img-1"
            />
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="footer-menus footer-about">
        <ul class="footer-social-menu">
          <li><a [routerLink]="routes.aboutUs">About</a></li>
          <li><a [routerLink]="routes.contactUs">Contact Us</a></li>
          <li><a [routerLink]="routes.Hospitals">Hospitals</a></li>
          <li><a [routerLink]="routes.Speciality">Specialities</a></li>
          <li><a [routerLink]="routes.Clinic">Clinics</a></li>
        </ul>
        <ul class="footer-social-menu">
          <li><a [routerLink]="routes.privacyPolicy">Privacy Policy</a></li>
          <li>
            <a [routerLink]="routes.termsCondition">Terms & Conditions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer Top End -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright">
        <div class="copyright-text">
          <p class="mb-0">Copyright &copy; 2025 Doccure. All Rights Reserved</p>
        </div>
        <div class="copyright-menu">
          <div class="copy-img">
            <a [routerLink]=""
              ><img
                src="assets/img/icons/pay-1.svg"
                alt="icon"
                class="img-fluid pay-1"
            /></a>
            <a [routerLink]=""
              ><img
                src="assets/img/icons/pay-2.svg"
                alt="icon"
                class="img-fluid pay-1"
            /></a>
            <a [routerLink]=""
              ><img
                src="assets/img/icons/pay-3.svg"
                alt="icon"
                class="img-fluid pay-1"
            /></a>
            <a [routerLink]=""
              ><img
                src="assets/img/icons/pay-4.svg"
                alt="icon"
                class="img-fluid pay-1"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="" class="back-to-top"
      ><i class="isax isax-arrow-up-2"></i>
    </a>
  </div>
  <!-- Footer Bottom End -->

  <img
    src="assets/img/bg/footer-lab-shadow.png"
    alt="footer"
    class="img-fluid footer-shadow-img"
  />
  <img
    src="assets/img/bg/footer-lab-img.png"
    alt="footer"
    class="img-fluid footer-lab-img"
  />
</footer>
<!-- Footer Section End -->
