<!-- Hero Section Start -->
<div class="hero-section-nine">
  <!-- Header -->
  <app-home-header />
  <!-- Header End -->
  <div class="banner-section-nine">
    <div class="container">
      <!-- start row -->
      <div class="row">
        <div class="col-xl-5 col-lg-6">
          <div class="section-header section-header-nine">
            <h1 class="section-title mb-0 mb-2">
              Compassionate<br />
              Homecare, Right <br />
              <span class="text-gradient">at Your Doorstep</span>
            </h1>
            <p class="paragraph">
              Certified nurses, physiotherapists, and attendants delivering
              hospital-grade care at home—convenience without compromise.
            </p>
            <div
              class="banner-btn-nine d-flex align-items-center gap-4 flex-wrap"
            >
              <a [routerLink]="" class="btn btn-primary-gradient theme-9-btn"
                ><i class="isax isax-category5"></i>View All Services</a
              >
              <div class="call-item">
                <div class="call-info-icon avatar avatar-lg rounded-circle">
                  <i class="isax isax-call"></i>
                </div>
                <div class="call-info-text">
                  <span class="link d-block">Call Us</span>
                  <a [routerLink]="" class="number">+1 24565 89856</a>
                </div>
              </div>
            </div>
          </div>
          <div class="rating-appointment flex-wrap">
            <div class="avatar-list-stacked avatar-group-lg">
              <span class="avatar avatar-rounded">
                <img src="assets/img/doctors/doctor-thumb-22.jpg" alt="img" />
              </span>
              <span class="avatar avatar-rounded">
                <img src="assets/img/doctors/doctor-thumb-23.jpg" alt="img" />
              </span>
              <span class="avatar avatar-rounded">
                <img src="assets/img/doctors/doctor-thumb-24.jpg" alt="img" />
              </span>
              <span class="avatar avatar-rounded">
                <img src="assets/img/doctors/doctor-thumb-25.jpg" alt="img" />
              </span>
            </div>
            <div>
              <p class="avatar-ttile">
                More then 25K clients<span class="d-block">reviews</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6">
          <div class="banner-right-nine position-relative">
            <img
              src="assets/img/banner/banner-img-two.png"
              alt="shadow-img"
              class="img-fluid img-three"
            />
            <div class="banner-img">
              <img
                src="assets/img/bg/banner-img-2.png"
                alt="banner-img"
                class="img-fluid banner-img-one"
              />
            </div>
            <div class="counter-item-nine one">
              <p class="count"><span>10</span> +</p>
              <p>Years of Experience</p>
            </div>
            <div class="counter-item-nine two">
              <p class="count"><span>250</span> +</p>
              <p>Certified Doctors</p>
            </div>
            <div class="counter-item-nine three">
              <p class="count"><span>100</span> +</p>
              <p>Satisfaction Rate</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <img
      src="assets/img/bg/banner-nine-shadow.png"
      alt="shadow-img"
      class="img-fluid img-one"
    />
  </div>
  <div class="name one">Home Care</div>
  <div class="name two">Home Care</div>
  <div class="name three">Home Care</div>
  <img
    src="assets/img/bg/banner-wave.png"
    alt="shadow-img"
    class="img-fluid img-two"
  />
</div>
<!-- /Hero Section End -->

<!-- Services Section Start -->
<section class="services-section-nine section">
  <div class="container">
    <div class="section-header section-header-nine text-center">
      <div class="title"><span class="dot"></span>OUR SERVICES</div>
      <h2 class="section-title">
        Our Trusted
        <span class="text-primary text-decoration-underline">Homecare</span>
        Services
      </h2>
      <img
        src="assets/img/bg/header-icon-nine.png"
        alt="header-icon"
        class="img-fluid img-one d-none"
      />
    </div>

    <div class="services-content-nine d-flex gap-4">
      <!-- Item 1 -->
      <div class="services-item-nine">
        <h3 class="title">Skilled Nursing Care</h3>
        <div class="services-info">
          <div class="services-icon flex-shrink-0">
            <img
              src="assets/img/icons/services-icon-two.svg"
              alt="services-ico"
              class="img-fluid img-one"
            />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Skilled Nursing Care</h3>
            <p class="description">
              Personalized diet plans meal
              <span class="d-block">preparation to promote balanced Diet</span>
            </p>
          </div>
        </div>
        <div class="services-profile">
          <img
            src="assets/img/service/services-img-one.jpg"
            alt="services-img"
            class="img-fluid img-one"
          />
        </div>
      </div>

      <!-- Item 2 -->
      <div class="services-item-nine">
        <h3 class="title">Personal Care Assistance</h3>
        <div class="services-info">
          <div class="services-icon flex-shrink-0">
            <img
              src="assets/img/icons/services-icon-three.svg"
              alt="services-ico"
              class="img-fluid img-one"
            />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Personal Care Assistance</h3>
            <p class="description">
              Personalized diet plans meal
              <span class="d-block">preparation to promote balanced Diet</span>
            </p>
          </div>
        </div>
        <div class="services-profile">
          <img
            src="assets/img/service/services-img-two.jpg"
            alt="services-img"
            class="img-fluid img-one"
          />
        </div>
      </div>

      <!-- Item 3 -->
      <div class="services-item-nine">
        <h3 class="title">Health Monitoring</h3>
        <div class="services-info">
          <div class="services-icon flex-shrink-0">
            <img
              src="assets/img/icons/services-icon-four.svg"
              alt="services-ico"
              class="img-fluid img-one"
            />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Health Monitoring</h3>
            <p class="description">
              Personalized diet plans meal
              <span class="d-block">preparation to promote balanced Diet</span>
            </p>
          </div>
        </div>
        <div class="services-profile">
          <img
            src="assets/img/service/services-img-three.jpg"
            alt="services-img"
            class="img-fluid img-one"
          />
        </div>
      </div>

      <!-- Item 4 -->
      <div class="services-item-nine">
        <h3 class="title">Elderly Medical Care</h3>
        <div class="services-info">
          <div class="services-icon flex-shrink-0">
            <img
              src="assets/img/icons/services-icon-five.svg"
              alt="services-ico"
              class="img-fluid img-one"
            />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Elderly Medical Care</h3>
            <p class="description">
              Personalized diet plans meal
              <span class="d-block">preparation to promote balanced Diet</span>
            </p>
          </div>
        </div>
        <div class="services-profile">
          <img
            src="assets/img/service/services-img-four.jpg"
            alt="services-img"
            class="img-fluid img-one"
          />
        </div>
      </div>

      <!-- Item 5 -->
      <div class="services-item-nine">
        <h3 class="title">Nutrition & Meal Planning</h3>
        <div class="services-info">
          <div class="services-icon flex-shrink-0">
            <img
              src="assets/img/icons/services-icon-one.svg"
              alt="services-ico"
              class="img-fluid img-one"
            />
          </div>
          <div class="services-content">
            <h3 class="custom-title">Nutrition & Meal Planning</h3>
            <p class="description">
              Personalized diet plans meal
              <span class="d-block">preparation to promote balanced Diet</span>
            </p>
          </div>
        </div>
        <div class="services-profile">
          <img
            src="assets/img/service/services-img-five.jpg"
            alt="services-img"
            class="img-fluid img-one"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section Start -->

<!-- Slider Section Start-->
<section class="slider-section-nine wow fadeInUp" data-wow-duration="1s">
  <div
    class="horizontal-slide slide-one slide-nine bg-primary d-flex"
    data-direction="left"
    data-speed="slow"
  >
    <div class="slide-list d-flex gap-4">
      <div class="services-slide">
        <h3>ECG & diagnostic coordination</h3>
      </div>
      <div class="services-slide">
        <h3>Antibiotic therapy support</h3>
      </div>
      <div class="services-slide">
        <h3>Medication administration</h3>
      </div>
      <div class="services-slide">
        <h3>IV fluids & injections</h3>
      </div>
      <div class="services-slide">
        <h3>Oxygen therapy</h3>
      </div>
    </div>
  </div>
  <div
    class="horizontal-slide slide-two slide-nine-two bg-dark d-flex"
    data-direction="right"
    data-speed="slow"
  >
    <div class="slide-list d-flex gap-4">
      <div class="services-slide">
        <h3>Recovery after surgery</h3>
      </div>
      <div class="services-slide">
        <h3>Physiotherapy coordination</h3>
      </div>
      <div class="services-slide">
        <h3>Stroke rehabilitation support</h3>
      </div>
      <div class="services-slide">
        <h3>Palliative & End-of-life care</h3>
      </div>
    </div>
  </div>
</section>
<!-- Slider Section End -->

<!-- About Section Start-->
<section class="about-section-nine section">
  <div class="about-nine">
    <div class="container">
      <!-- start row -->
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6">
          <div class="about-img-nine d-none d-lg-block">
            <img
              src="assets/img/about/about-img-4.png"
              alt="about-img"
              class="img-fluid img-1"
            />
            <lightgallery
              [settings]="settings"
              [onInit]="onInit"
              size="1400-933"
            >
              <a
                src="https://youtu.be/MyQxnFgPgQU?si=Z9y2WdynImbFnqL2"
                data-fancybox=""
              >
                <button
                  class="animate-button"
                  data-text="Play Video&nbsp;Play Video&nbsp;"
                >
                  <p class="button-text"></p>
                  <span class="button-circle">
                    <i class="isax isax-play"></i>
                  </span>
                </button>
              </a>
            </lightgallery>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6">
          <div class="about-content-nine">
            <div class="section-header section-header-nine">
              <div class="title"><span class="dot"></span>ABOUT US</div>
              <h2 class="section-title">
                We provide hospital grade care in the
                <span class="text-primary text-decoration-underline"
                  >comfort of your home</span
                >
              </h2>
              <p class="paragraph">
                Our mission is to make healthcare more accessible by offering
                reliable medical support, post-operative recovery, chronic
                condition management, and daily assistance.
              </p>
            </div>

            <!-- start row -->
            <div class="row g-4">
              <div class="col-lg-6 d-flex">
                <div class="about-item-nine flex-fill">
                  <h3 class="custom-title">Verified Caregiver & Nurses</h3>
                  <p>
                    All staff are professionally trained, background-verified.
                  </p>
                  <img
                    src="assets/img/bg/about-img-one.png"
                    alt="about-img"
                    class="img-fluid img-one"
                  />
                </div>
              </div>
              <div class="col-lg-6 d-flex">
                <div class="about-item-nine flex-fill">
                  <h3 class="custom-title">Personalized Care Plans</h3>
                  <p>
                    Every care plan is tailored to medical conditions, recovery
                    needs.
                  </p>
                  <img
                    src="assets/img/bg/about-img-one.png"
                    alt="about-img"
                    class="img-fluid img-one"
                  />
                </div>
              </div>
              <div class="col-lg-6 d-flex">
                <div class="about-item-nine flex-fill">
                  <h3 class="custom-title">Patient First Approach</h3>
                  <p>
                    We combine professional healthcare with emotional support,
                    treating every patient.
                  </p>
                  <img
                    src="assets/img/bg/about-img-one.png"
                    alt="about-img"
                    class="img-fluid img-one"
                  />
                </div>
              </div>
              <div class="col-lg-6 d-flex">
                <div class="about-item-nine flex-fill">
                  <h3 class="custom-title">Comfort & Dignity</h3>
                  <p>
                    Our services focus on enabling patients to live comfortably
                    at home.
                  </p>
                  <img
                    src="assets/img/bg/about-img-one.png"
                    alt="about-img"
                    class="img-fluid img-one"
                  />
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <img
      src="assets/img/icons/about-element-1.png"
      alt="element"
      class="img-fluid element-one"
    />
  </div>
  <section
    class="company-section-nine pb-0 section wow fadeOut"
    data-wow-duration="1s"
  >
    <div class="container">
      <div class="company-slider">
        <owl-carousel-o
          [options]="companySliderOption"
          class="partner-item-seven"
        >
          <ng-template carouselSlide>
            <img src="assets/img/company/company-nine-1.svg" alt="img" />
          </ng-template>
          <ng-template carouselSlide>
            <img src="assets/img/company/company-nine-2.svg" alt="img" />
          </ng-template>
          <ng-template carouselSlide>
            <img src="assets/img/company/company-nine-3.svg" alt="img" />
          </ng-template>
          <ng-template carouselSlide>
            <img src="assets/img/company/company-nine-4.svg" alt="img" />
          </ng-template>
          <ng-template carouselSlide>
            <img src="assets/img/company/company-nine-5.svg" alt="img" />
          </ng-template>
          <ng-template carouselSlide>
            <img src="assets/img/company/company-nine-6.svg" alt="img" />
          </ng-template>
          <ng-template carouselSlide>
            <img src="assets/img/company/company-nine-2.svg" alt="img" />
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>
  <img
    src="assets/img/about/about-element-1.png"
    alt="element"
    class="img-fluid element-two"
  />
</section>
<!-- About Section End -->

<!-- Teams Section Start -->
<section class="team-section-nine section">
  <div class="container">
    <div class="section-header section-header-nine text-center">
      <div class="title"><span class="dot"></span>OUR TEAM</div>
      <h2 class="section-title">
        Explore Team Of
        <span class="text-primary text-decoration-underline"
          >Caregivers & Nurses</span
        >
      </h2>
      <img
        src="assets/img/bg/header-icon-nine.png"
        alt="header-icon"
        class="img-fluid img-one d-none"
      />
    </div>
  </div>

  <div class="team-slider-nine">
    <owl-carousel-o [options]="teamSliderOption" class="team-item-nine">
      <ng-template carouselSlide>
        <!-- Item 1 -->
        <div class="slide-item">
          <div class="team-item-nine">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-nine-1.jpg"
                alt="team"
                class="img-fluid img-one"
              />
              <span class="team-exp">4+ Years Experience</span>
              <div class="team-content">
                <h3 class="custom-title">
                  <a [routerLink]="">Chloe Anderson</a>
                </h3>
                <p class="team-name">Maternity Nurse</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <!-- Item 2 -->
        <div class="slide-item">
          <div class="team-item-nine">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-nine-2.jpg"
                alt="team"
                class="img-fluid img-one"
              />
              <span class="team-exp">6+ Years Experience</span>
              <div class="team-content">
                <h3 class="custom-title">
                  <a [routerLink]="">Michael Adams</a>
                </h3>
                <p class="team-name">Physiotherapy</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <!-- Item 3 -->
        <div class="slide-item">
          <div class="team-item-nine">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-nine-3.jpg"
                alt="team"
                class="img-fluid img-one"
              />
              <span class="team-exp">2+ Years Experience</span>
              <div class="team-content">
                <h3 class="custom-title"><a [routerLink]="">Grace Lewis</a></h3>
                <p class="team-name">Home Care Nurse</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <!-- Item 4 -->
        <div class="slide-item">
          <div class="team-item-nine">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-nine-4.jpg"
                alt="team"
                class="img-fluid img-one"
              />
              <span class="team-exp">1+ Years Experience</span>
              <div class="team-content">
                <h3 class="custom-title">
                  <a [routerLink]="">Madison Wright</a>
                </h3>
                <p class="team-name">Assisted Living Caregiver</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <!-- Item 5 -->
        <div class="slide-item">
          <div class="team-item-nine">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-nine-5.jpg"
                alt="team"
                class="img-fluid img-one"
              />
              <span class="team-exp">5+ Years Experience</span>
              <div class="team-content">
                <h3 class="custom-title">
                  <a [routerLink]="">Aiden Roberts</a>
                </h3>
                <p class="team-name">Oncology Nurse</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <!-- Item 6 -->
        <div class="slide-item">
          <div class="team-item-nine">
            <div class="team-overlay">
              <img
                src="assets/img/team/team-nine-6.jpg"
                alt="team"
                class="img-fluid img-one"
              />
              <span class="team-exp">3+ Years Experience</span>
              <div class="team-content">
                <h3 class="custom-title">
                  <a [routerLink]="">Matthew Clark</a>
                </h3>
                <p class="team-name">Dementia Caregiver</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <img
    src="assets/img/icons/team-icon-1.svg"
    alt="icon"
    class="img-fluid icon-one"
  />
</section>
<!-- Teams Section End -->

<!-- Journey Section Start -->
<section class="journey-section-nine section pt-0">
  <div class="container">
    <!-- start row -->
    <div class="row g-3 justify-content-center">
      <!-- Item 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="journey-item-nine one">
          <h4 class="journey-title mb-0">Our Commitment to Excellence</h4>
          <a [routerLink]="" class="journey-btn">
            <i class="isax isax-arrow-right-1"></i>
          </a>
          <img
            src="assets/img/about/commit-bg-1.png"
            alt="commit-bg"
            class="img-fluid bg-one"
          />
          <img
            src="assets/img/about/commit-img-1.png"
            alt="commit-bg"
            class="img-fluid img-one"
          />
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="journey-item-nine two">
          <h4 class="journey-title mb-0">
            Tailored Home Care Plans for all Services
          </h4>
          <a [routerLink]="" class="journey-btn">
            <i class="isax isax-arrow-right-1"></i>
          </a>
          <img
            src="assets/img/about/commit-bg-2.png"
            alt="commit-bg"
            class="img-fluid bg-one"
          />
          <img
            src="assets/img/about/commit-img-2.png"
            alt="commit-bg"
            class="img-fluid img-one"
          />
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="journey-item-nine three">
          <h4 class="journey-title mb-0">Program to Maintain Independence</h4>
          <a [routerLink]="" class="journey-btn">
            <i class="isax isax-arrow-right-1"></i>
          </a>
          <img
            src="assets/img/about/commit-bg-3.png"
            alt="commit-bg"
            class="img-fluid bg-one"
          />
          <img
            src="assets/img/about/commit-img-3.png"
            alt="commit-bg"
            class="img-fluid img-one"
          />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</section>
<!-- Journey Section End-->

<!-- Why Choose Section Start -->
<section class="whychoose-section-nine section">
  <div class="container">
    <div class="section-header section-header-nine text-center">
      <div class="title"><span class="dot"></span>WHY CHOOSE US</div>
      <h2 class="section-title">
        Your
        <span class="text-primary text-decoration-underline">Trusted</span>
        Homecare Partner
      </h2>
    </div>

    <!-- start row -->
    <div class="row">
      <!-- Left Item -->
      <div class="col-lg-3">
        <div class="choose-item-nine">
          <h3 class="custom-title">Medical & Non-Medical Services</h3>
          <p class="description">
            From nursing and therapy to companionship and daily assistance
          </p>
        </div>
        <div class="choose-item-nine">
          <h3 class="custom-title">Modern Monitoring & Health Tracking</h3>
          <p class="description">
            Technology-enabled tracking, digital reports, medication reminders
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="choose-img-nine">
          <img
            src="assets/img/about/choose-img-one.jpg"
            alt="choose-img"
            class="img-fluid img-one d-none"
          />
          <video
            playsinline="playsinline"
            autoplay
            muted="muted"
            loop="loop"
            id="video"
          >
            <source src="assets/img/video/video.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="choose-item-nine right-item">
          <h3 class="custom-title">Family-Centered Care Approach</h3>
          <p class="description">
            We focus on comfort, dignity, independence, and building trust
          </p>
        </div>
        <div class="choose-item-nine right-item">
          <h3 class="custom-title">24/7 Support & Emergency</h3>
          <p class="description">
            Round-the-clock care, monitoring, and helpline for safety at all
            times.
          </p>
        </div>
      </div>
      <!-- right Item -->
    </div>
    <!-- end row -->

    <!-- start row -->
    <div class="row choose-step-nine g-3 justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="choose-step">
          <div class="step-icon">
            <img
              src="assets/img/bg/choose-step-bg.png"
              alt="choose-img"
              class="img-fluid bg-one"
            />
            <img
              src="assets/img/icons/step-icon-1.png"
              alt="choose-img"
              class="img-fluid icon"
            />
          </div>
          <div class="step-content">
            <span class="level">Step 1</span>
            <h3 class="custom-title">Select Your Service</h3>
            <p>
              Choose from nursing care, elder care, therapy, or medical
              assistance your specific needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="choose-step">
          <div class="step-icon">
            <img
              src="assets/img/bg/choose-step-bg.png"
              alt="choose-img"
              class="img-fluid bg-one"
            />
            <img
              src="assets/img/icons/step-icon-2.png"
              alt="choose-img"
              class="img-fluid icon"
            />
          </div>
          <div class="step-content">
            <span class="level">Step 2</span>
            <h3 class="custom-title">Choose Date & Time</h3>
            <p>
              Pick your preferred date and time , and we’ll certified caregiver
              and share booking details.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="choose-step">
          <div class="step-icon">
            <img
              src="assets/img/bg/choose-step-bg.png"
              alt="choose-img"
              class="img-fluid bg-one"
            />
            <img
              src="assets/img/icons/step-icon-3.png"
              alt="choose-img"
              class="img-fluid icon"
            />
          </div>
          <div class="step-content">
            <span class="level">Step 3</span>
            <h3 class="custom-title">Care Begins at Home</h3>
            <p>
              Our professional caregiver arrives at your location and starts
              personalized care with full support.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <img
    src="assets/img/bg/choose-bg-5.png"
    alt="choose"
    class="img-fluid choose-bg-5"
  />
</section>
<!-- Why Choose Section Start-->

<!-- Testimonial Section Start -->
<section class="testimonial-section-nine section">
  <div class="container">
    <div class="section-header section-header-nine text-center">
      <div class="title"><span class="dot"></span>CLIENT REVIEWS</div>
      <h2 class="section-title">
        What people say
        <span class="text-primary text-decoration-underline">
          about us worldwide</span
        >
      </h2>
    </div>

    <div class="row g-4">
      <!-- Item 1 -->
      <div class="col-sm-6 d-flex">
        <div class="testimonial-item-nine flex-fill">
          <div class="testimonial-content">
            <p class="description">
              Exceptional cardiology care with precise diagnosis, advanced
              treatment options, and compassionate support throughout the
              journey. The team ensures timely monitoring, clear communication
            </p>
            <div class="review">
              <div class="review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="testimonial-date">
                <i class="isax isax-calendar"></i>
                <span>5 days ago</span>
              </div>
            </div>
          </div>
          <div class="testimonial-author">
            <img
              src="assets/img/partners/testimonial-img-one.jpg"
              alt="testimonial-img"
              class="img-fluid img-one"
            />
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-sm-6 d-flex">
        <div class="testimonial-item-nine flex-fill">
          <div class="testimonial-content">
            <p class="description">
              Exceptional cardiology care with precise diagnosis, advanced
              treatment options, and compassionate support throughout the
              journey. The team ensures timely monitoring, clear communication
            </p>
            <div class="review">
              <div class="review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="testimonial-date">
                <i class="isax isax-calendar"></i>
                <span>2 days ago</span>
              </div>
            </div>
          </div>
          <div class="testimonial-author">
            <img
              src="assets/img/partners/testimonial-img-two.jpg"
              alt="testimonial-img"
              class="img-fluid img-one"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="view-all text-center">
      <a
        [routerLink]=""
        class="btn btn-primary-gradient d-inline-flex align-items-center"
      >
        <i class="isax isax-arrow-right-1 me-2"></i> View All Testimonials</a
      >
    </div>
  </div>
  <img
    src="assets/img/icons/about-element-1.png"
    alt="element"
    class="img-fluid element-one"
  />
  <img
    src="assets/img/icons/testimonial-icon.svg"
    alt="testimonial"
    class="img-fluid testimonial-icon"
  />
</section>
<!-- Testimonial Section End-->

<!-- Health Section Start -->
<section class="section health-section health-nine trail-content">
  <div class="container">
    <div class="title">Caring Hands, Healing at Home.</div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content-img">
          <div class="content-img-single">
            <img
              src="assets/img/about/health-03.jpg"
              class="img-fluid"
              alt="health"
            />
          </div>
        </div>
        <div class="content-img">
          <div class="content-img-single">
            <img
              src="assets/img/about/health-04.jpg"
              class="img-fluid"
              alt="health"
            />
          </div>
        </div>
        <div class="content-img">
          <div class="content-img-single">
            <img
              src="assets/img/about/health-05.jpg"
              class="img-fluid"
              alt="health"
            />
          </div>
        </div>
        <div class="health-content">
          <h2>
            Professional healthcare, nursing, and elder care services delivered
            to your doorstep safe, compassionate, and personalized.
          </h2>
        </div>
      </div>
    </div>

    <div class="text-center view-all">
      <div class="support-item-list">
        <div class="support-item-icon">
          <i class="isax isax-call"></i>
        </div>
        <div class="support-item-content">
          <span class="support-title">Call Us</span>
          <a href="callto:" class="link">+1 24565 89856</a>
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/img/icons/health-img.svg"
    alt="health"
    class="img-fluid health-img-one"
  />
</section>
<!-- Health Section End -->

<!-- Article Section Start -->
<section class="article-section-nine section">
  <div class="container">
    <div class="section-header section-header-nine text-center">
      <div class="title"><span class="dot"></span>ARTICLES & TIPS</div>
      <h2 class="section-title">
        Latest
        <span class="text-primary text-decoration-underline">Articles</span>
        from Doccure Homecare
      </h2>
    </div>
    <!-- start row -->
    <div class="row g-3">
      <!-- Item 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="article-item-nine">
          <div class="article-overlay">
            <img
              src="assets/img/about/article-img-1.jpg"
              alt="team"
              class="img-fluid img-one w-100"
            />
            <div class="article-content">
              <div class="article-info">
                <span class="badge">Elder Care</span>
                <p class="article-date">5 Min to Read</p>
              </div>
              <h3 class="custom-title">
                <a [routerLink]=""
                  >How to Choose the Right Elder Caregiver for Your Parents</a
                >
              </h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="article-item-nine">
          <div class="article-overlay">
            <img
              src="assets/img/about/article-img-2.jpg"
              alt="team"
              class="img-fluid img-one w-100"
            />
            <div class="article-content">
              <div class="article-info">
                <span class="badge">Rehabilitation</span>
                <p class="article-date">10 Min to Read</p>
              </div>
              <h3 class="custom-title">
                <a [routerLink]=""
                  >Expert rehabilitation services to help you recover faster</a
                >
              </h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="article-item-nine">
          <div class="article-overlay">
            <img
              src="assets/img/about/article-img-3.jpg"
              alt="team"
              class="img-fluid img-one w-100"
            />
            <div class="article-content">
              <div class="article-info">
                <span class="badge">Home Care Tips</span>
                <p class="article-date">15 Min to Read</p>
              </div>
              <h3 class="custom-title">
                <a [routerLink]=""
                  >How to Create a Safe Home Environment for Patients</a
                >
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="view-all text-center">
      <a
        [routerLink]=""
        class="btn btn-primary-gradient d-inline-flex align-items-center"
      >
        <i class="isax isax-arrow-right-3 me-2"></i> View All Articles</a
      >
    </div>
  </div>
  <img
    src="assets/img/icons/testimonial-icon.svg"
    alt="testimonial"
    class="img-fluid element-one"
  />
  <img
    src="assets/img/icons/team-icon-1.svg"
    alt="icon"
    class="img-fluid icon-one"
  />
</section>
<!-- Article Section End -->

<!-- Footer -->
<footer class="footer-nine footer">
  <img
    src="assets/img/bg/footer-img-one.png"
    alt="footer-bg"
    class="img-fluid footer-img-one"
  />
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row g-md-5 g-4">
        <div class="col-xl-6 col-lg-12 col-md-12">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <h2 class="title-main">Ready Discover More? Contact Us Today!</h2>
            <div class="about-popup-item border-0 mb-0 pb-0">
              <div class="support-item">
                <div class="avatar avatar-lg bg-primary rounded-circle">
                  <i class="isax isax-messages-3"></i>
                </div>
                <div>
                  <span class="title">General Inquiries</span>
                  <p class="link">
                    <a href="mailto:info@example.com">info@example.com</a>
                  </p>
                </div>
              </div>
              <div class="support-item">
                <div class="avatar avatar-lg bg-primary rounded-circle">
                  <i class="isax isax-call-calling"></i>
                </div>
                <div>
                  <span class="title">Emergency Cases</span>
                  <p class="link">
                    <a href="tel:+12456589856">+1 24565 89856</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6">
          <!-- Footer Widget -->
          <div class="footer-widget">
            <h3 class="footer-title">Our Services</h3>
            <ul class="footer-menu">
              <li><a [routerLink]="">Cataract Evaluation</a></li>
              <li><a [routerLink]="">Pediatric Eye Care</a></li>
              <li><a [routerLink]="">Lasik Surgery</a></li>
              <li><a [routerLink]="">Glaucoma Screening</a></li>
              <li><a [routerLink]="">Diabetic Eye Care</a></li>
            </ul>
          </div>
          <!-- Footer Widget End -->
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6">
          <!-- Footer Widget -->
          <div class="footer-widget">
            <h3 class="footer-title">Quick Links</h3>
            <ul class="footer-menu">
              <li><a [routerLink]="routes.index9">Home</a></li>
              <li><a [routerLink]="routes.aboutUs">About Us</a></li>
              <li><a [routerLink]="">Services & Plans</a></li>
              <li><a [routerLink]="">Nurses & Caretakers</a></li>
              <li><a [routerLink]="routes.contactUs">Contact Us</a></li>
            </ul>
          </div>
          <!-- Footer Widget End -->
        </div>
      </div>
    </div>
    <img
      src="assets/img/bg/footer-bg-one.png"
      alt="footer-bg"
      class="img-fluid footer-bg-one"
    />
    <img
      src="assets/img/bg/footer-img-2.png"
      alt="footer-bg"
      class="img-fluid footer-bg-two"
    />
    <img
      src="assets/img/bg/footer-bg-13.png"
      alt="footer-bg"
      class="img-fluid footer-bg-three"
    />
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright">
        <div class="copyright-text">
          <p class="mb-0">Copyright &copy; 2025 Doccure. All Rights Reserved</p>
        </div>
        <ul class="d-flex align-items-center gap-2 social-icon-list">
          <li>
            <a [routerLink]="" class="social-icon"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li>
            <a [routerLink]="" class="social-icon"
              ><i class="fa-brands fa-x-twitter"></i
            ></a>
          </li>
          <li>
            <a [routerLink]="" class="social-icon"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li>
            <a [routerLink]="" class="social-icon"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
      <!-- Copyright End -->
      <a [routerLink]="" class="back-to-top" (click)="scrollToTop()"
        ><i class="isax isax-arrow-up-25"></i>
      </a>
    </div>
  </div>
  <!-- Footer Bottom End -->
</footer>
<!-- Footer End -->
